<div class="container my-4">
  <button class="btn btn Back" (click)="goBack()">
    <i class="fa-solid fa-arrow-left">Go Back</i>
  </button>
  <h3 class="mb-4 cart">Your Cart</h3>
  <div class="row">
    <div class="col-md-9">
      <table class="table table-striped" *ngIf="cartCloths.length !== 0">
        <thead>
          <tr>
            <th scope="col">Image</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Total Price</th>
            <!-- New column -->
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cart of cartCloths">
            <td>
              <img
                [src]="
                  'http://localhost:8080/api/cloth/downloadFile/' +
                  cart.cloth.id
                "
                style="width: 80px; height: 80px"
              />
            </td>
            <td>{{ cart.cloth.title }}</td>
            <td>{{ cart.cloth.description }}</td>
            <td>₹ {{ cart.cloth.price }}/-</td>
            <td>{{ cart.count }}</td>
            <td>₹ {{ cart.cloth.price * cart.count }}/-</td>
            <td>
              <button
                class="btn btn"
                (click)="onDelete($event, cart?.userId, cart.cloth.id)"
              >
                <i class="fa-sharp fa-solid fa-xmark"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-3" *ngIf="cartCloths.length !== 0">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Summary</h5>
          <hr />
          <div class="d-flex justify-content-between">
            <span>Items</span>
            <span>{{ getTotalItems() }}</span>
          </div>
          <div class="d-flex justify-content-between mt-2">
            <span>Total</span>
            <span>₹ {{ getTotalPrice() }}/-</span>
          </div>
          <hr />
          <button class="btn btn-primary w-100 mt-3" routerLink="/address">
            Proceed To Checkout
          </button>
        </div>
      </div>
    </div>
  </div>
  <div>
    <h1 *ngIf="cartCloths.length === 0" class="d-flex justify-content-center">
      Your cart is empty
    </h1>
  </div>
</div>

<!-- <section class="bg-light my-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-9">
        <div class="card border shadow-0">
          <div class="m-4">
            <h4 class="card-title mb-4">Your shopping cart</h4>

            <div *ngIf="cartCloths.length === 0" class="text-center">
              <p style="color: var(--primary-700)">Your cart is empty.</p>
            </div>

            <div class="row gy-3 mb-4" *ngFor="let cart of cartCloths">
            
              <div class="col-lg-5">
                <div class="me-lg-5">
                  <div class="d-flex">
                    <img
                      [src]="
                        'http://localhost:8080/api/cloth/downloadFile/' +
                        cart.cloth.id
                      "
                      style="width: 80px; height: 80px"
                    />
                    <div class="">
                      <p class="nav-link" style="color: var(--primary-700)">
                        {{ cart.cloth.title }}
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="col-lg-2 col-sm-6 col-6 d-flex flex-row flex-lg-column flex-xl-row text-nowrap"
              >
                <div class="d-flex flex-column">
                  <span class="h6 mb-2" style="color: var(--primary-700)">
                    Count: {{ cart.count }}
                  </span>
                  <span class="text-nowrap">
                    Price: ₹
                    <span class="h6" style="color: var(--primary-500)">{{
                      cart.cloth.price
                    }}</span>
                  </span>
                  Total Price ₹ {{ cart.cloth.price * cart.count }}/-
                </div>
              </div>
              <div
                class="col-lg col-sm-6 d-flex justify-content-sm-center justify-content-md-start justify-content-lg-center justify-content-xl-end mb-2"
              >
                <div class="float-md-end">
                  <div
                    class="btn btn-light border icon-hover-danger"
                    data-bs-toggle="modal"
                    data-bs-target="#confirmationModal"
                    style="color: var(--primary-900)"
                    
                  >
                  <button
                class="btn btn"
                (click)="onDelete($event, cart?.userId, cart.cloth.id)"
              >
                <i class="fas fa-trash-alt"></i>
              </button>
                  </div>
                </div>
              </div>
            </div>

            <a
              *ngIf="cartCloths.length > 0"
              class="btn btn-light border icon-hover-pink"
              (click)="checkout()"
              routerLink="/address"
            >
              Checkout
            </a>
          </div>

          <div class="border-top pt-4 mx-4 mb-4">
            <p>
              <i class="fas fa-truck text-muted fa-lg"></i> Free Delivery within
              1-2 weeks
            </p>
            <p class="text-muted"></p>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->
