<section class="vh-100 regpage">
  <!-- <img src="/assets/bg6.jpg" alt="Background Image" class="bg-img" /> -->
  <div class="container py-5 h-100">
    <div class="row d-flex align-items-center justify-content-center h-100">
      <div class="col-6">
        <ng-lottie [options]="options"></ng-lottie>
      </div>
      <div class="col-6">
        <h2 class="display-4 text-primary">Register</h2>
        <form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)">
          <!-- Username input -->
          <div class="form-outline mb-3">
            <label class="form-label" for="username">Name</label>
            <input
              type="text"
              id="Name"
              class="form-control"
              name="person"
              [(ngModel)]="Name"
              ngModel
              required
              minlength="3"
              maxlength="15"
              #UserNamevalid="ngModel"
              [ngClass]="
                UserNamevalid.invalid &&
                (UserNamevalid.dirty || UserNamevalid.touched)
                  ? 'is-invalid '
                  : ''
              "
            />
            <div *ngIf="UserNamevalid.invalid" class="invalid-feedback">
              please enter the name min 3 characters
            </div>
          </div>
 
          <!-- Name input -->
          <div class="form-outline mb-3">
            <label class="form-label" for="name">UserName</label>
            <input
              type="text"
              id="name"
              class="form-control"
              name="name"
              ngModel
              required
              minlength="3"
              maxlength="15"
              #Namevalid="ngModel"
              [(ngModel)]="UserName"
              [ngClass]="
                Namevalid.invalid && (Namevalid.dirty || Namevalid.touched)
                  ? 'is-invalid '
                  : ''
              "
            />
            <div *ngIf="Namevalid.invalid" class="invalid-feedback">
              please enter the name min 3 characters
            </div>
          </div>
 
          <!-- Password input -->
          <div class="form-outline mb-3">
            <label class="form-label" for="password">Password</label>
            <input
              type="password"
              id="password"
              class="form-control"
              name="password"
              ngModel
              [(ngModel)]="Password"
              required
              minlength="3"
              maxlength="10"
              #passwordvalid="ngModel"
              [ngClass]="
                passwordvalid.invalid &&
                (passwordvalid.dirty || passwordvalid.touched)
                  ? 'is-invalid'
                  : ''
              "
            />
            <div *ngIf="passwordvalid.invalid" class="invalid-feedback">
              please enter the name min 3 characters
            </div>
          </div>
          <div class="mb-3">
            <label for="confirmPassword" class="form-label"
              >Confirm Password</label
            >
            <input
              type="password"
              class="form-control"
              id="confirmPassword"
              name="confirmPassword"
              ngModel
              required
              pattern="{{ passwordvalid.value }}"
              #confpass="ngModel"
              [ngClass]="
                confpass.value !== passwordvalid.value &&
                (confpass.dirty || confpass.touched)
                  ? 'is-invalid'
                  : ''
              "
            />
            <div *ngIf="confpass.invalid" class="invalid-feedback">
              Password is mismatch
            </div>
          </div>
 
          <!-- <div class="form-outline mb-3">
            <label class="form-label" for="dropdown">Select Option</label>
            <select
              id="dropdown"
              class="form-select"
              name="role"
              [(ngModel)]="role"
              ngModel
              required
              #dropdownValid="ngModel"
              [ngClass]="
                dropdownValid.invalid && dropdownValid.dirty ? 'is-invalid' : ''
              "
            >
              <option value="" disabled selected>Select an option</option>
 
              <option value="option2">User</option>
            </select>
            <div *ngIf="dropdownValid.invalid" class="invalid-feedback">
              Please select an option.
            </div>
          </div> -->
 
          <div class="d-flex align-items-center mb-4">
            <span style="color: white;">Already registered?</span>
            <a
              routerLink="/login"
              class="text-primary text-decoration-none px-2"
              >Login here</a
            >
          </div>
<!--  
          <div class="form-check form-switch mb-3">
            <input class="form-check-input" type="checkbox" id="export-file" />
            <label class="form-check-label fw-bold" for="export-file"
              >User</label
            >
          </div> -->
 
          <!-- Submit button -->
          <div class="d-grid gap-2 mb-5">
            <button
              type="submit"
              class="btn btn-primary"
              [disabled]="registerForm.invalid"
            >
              Register
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>