/* Styles for Admin Page */

.admin-page {
    max-width: 900px;
    margin: auto;
    padding: 30px;
    background-color: #f8f9fa;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  
  .orders-section {
    margin-bottom: 40px;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
  }
  
  .table th,
  .table td {
    padding: 12px;
    text-align: left;
  }
  
  .table th {
    background-color: #f0f0f0;
  }
  
  .table tbody tr:hover {
    background-color: #f9f9f9;
  }
  
  .update-status-section {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .status-form {
    display: flex;
    flex-direction: column;
  }
  
  .status-form label {
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
  }
  
  .status-form input {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .btn-success {
    padding: 12px 24px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn-success:hover {
    background-color: #218838;
  }