<!-- <p>order works!</p> -->

<!-- <div class="container my-5">
  <p class="fs-1">Orders</p>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Order Id</th>

        <th scope="col">Date</th>

        <th scope="col">Customer Email</th>

        <th scope="col">Products</th>

        <th scope="col">Price</th>

        <th scope="col">Status</th>
      </tr>
    </thead>

    <tbody id="table">
      <tr>
        <th scope="row">1</th>

        <td>Mark</td>

        <td>Otto</td>

        <td>@mdo</td>

        <td>@mdo</td>

        <td>@mdo</td>
      </tr>

      <tr>
        <th scope="row">2</th>

        <td>Jacob</td>

        <td>Thornton</td>

        <td>@fat</td>

        <td>@mdo</td>

        <td>@mdo</td>
      </tr>

      <tr>
        <th scope="row">3</th>

        <td>Larry the Bird</td>

        <td>@twitter</td>

        <td>@mdo</td>

        <td>@mdo</td>

        <td>@mdo</td>
      </tr>
    </tbody>
  </table>
</div> -->

<!-- <p>orders works!</p> -->

<!-- <div class="container my-5">
    <p class="fs-1">Orders</p>
  
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Order Id</th>
          <th scope="col">Date</th>
          <th scope="col">Customer Email</th>
          <th scope="col">Products</th>
          <th scope="col">Price</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody id="table">
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
          <td>@mdo</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
          <td>@mdo</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Larry the Bird</td>
          <td>@twitter</td>
          <td>@mdo</td>
          <td>@mdo</td>
          <td>@mdo</td>
        </tr>
      </tbody>
    </table>
    <div>

    </div>
  </div> -->

  <div class="container my-5">
    <p class="fs-1">My Orders</p>
  <div class="pt-5">
    <div class="container">
      <table class="table">
        <thead class="table-dark ">
          <tr>
            <th>Order Id</th>
            <th>Title</th>
            <th>Product Details</th>
            <th>Price</th>
            <th>Status</th>
          </tr>
        </thead>
          <tr>
            <td>3</td>
            <td>polo</td>
            <td>Shirt</td>
            <td>1000</td>
            <td>Delivered</td>
          </tr>
          <tr>
            <td>4</td>
            <td>Allen solly</td>
            <td>T-shirt</td>
            <td>2500</td>
            <td>Pending</td>
          </tr>
          <tr>
            <td>5</td>
            <td>Otto</td>
            <td>Jeans</td>
            <td>4000</td>
            <td>Pending</td>
          </tr>
          <tr>
            <td>1</td>
            <td>Max</td>
            <td>Half Hand Shirt</td>
            <td>3000</td>
            <td>Delivered</td>
          </tr>
          <tr>
            <td>1</td>
            <td>Max</td>
            <td>t-shirt</td>
            <td>2000</td>
            <td>Delivered</td>
          </tr>
      </table>
    </div>
  </div>
  </div>


  <!-- <div class="container">
    <h2>My Orders</h2>
   
    <div *ngIf="orderItems.length === 0" class="text-center">
      <p style="color: var(--primary-700)">Your order list is empty.</p>
    </div>
   
    <div *ngFor="let order of orderItems" class="order-item">
      <p class="order-details">
        <span class="product-name">Order ID: {{ order.id }}</span
        ><br />
        <span class="order-status">Order Status: {{ order.orderStatus }}</span>
      </p>
   
      <div class="address-list">
        <h3 style="color: var(--primary-700)">Address :</h3>
        <ul>
          {{
            order.address.address
          }},
          {{
            order.address.city
          }},
          {{
            order.address.zipcode
          }}
        </ul>
      </div>
    </div>
   
    <a routerLink="/" class="btn btn-success" id="back-button">Go Back</a>
  </div> -->