<!-- <div class="container my-5">
  <div class="container py-5 h-100">
    <div class="row d-flex align-items-center justify-content-center h-100">
      <div class="col-6">
        <h1>Orders</h1>
        <table class="table table-bordered table-striped">
          <thead class="table-dark">
            <tr>
              <th scope="col">cloth name</th>
              <th scope="col">price</th>
              <th scope="col">Address</th>
              <th scope="col">City</th>
              <th scope="col">Zipcode</th>

              <th scope="col">Order Status</th>
            </tr>
          </thead>
          <tbody>
           
            <ng-container *ngFor="let order of orderItems">
              <tr *ngFor="let product of order.clothList">
                <td>{{ product.title }}</td>
                <td>{{ product.price }}</td>
                <td>{{ order.address.address }}</td>
                <td>{{ order.address.city }}</td>
                <td>{{ order.address.zipcode }}</td>
                <td>{{ order.orderStatus }}</td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div> -->

<div class="container my-5">
  <div class="container py-5 h-100">
    <div class="row d-flex align-items-center justify-content-center h-100">
      <div class="col-10">
        <div class="card">
          <div class="card-header bg-primary text-white">
            <h1 class="mb-0">Orders</h1>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered table-striped table-hover">
                <thead class="table-dark">
                  <tr>
                    <th scope="col">Cloth Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Address</th>
                    <th scope="col">City</th>
                    <th scope="col">Zipcode</th>
                    <th scope="col">Order Status</th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container *ngFor="let order of orderItems">
                    <tr *ngFor="let product of order.clothList">
                      <td>{{ product.title }}</td>
                      <td>₹ {{ product.price }}</td>
                      <td>{{ order.address.address }}</td>
                      <td>{{ order.address.city }}</td>
                      <td>{{ order.address.zipcode }}</td>
                      <td>{{ order.orderStatus }}</td>
                    </tr>
                  </ng-container>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
